.container {
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

.container h1 {
  margin: 50px 0;
  color: #304ffe;
}
.container p{
  color: gray;
  margin-left: 20px;
}
.container a {
  text-decoration: none;
  color: #304ffe;
  background-color: #bbdefb;
  border-radius: 5px;
  padding: 3px 5px;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.container a:hover{
  background-color: #304ffe;
  color: #bbdefb;
}